#services {
  height: 480px;
  background-color: var(--color-gray-600);

  align-items: center;
  padding: 88px 120px 120px;

  header {
    text-align: center;
    margin-bottom: 56px;

    h2 {
      font: var(--title-md);
      color: var(--color-gray-100);
    }

    h3 {
      font: var(--subtitle);
      color: var(--color-red);
    }
  }

  figure {
    padding: 20px;

    border: 2px solid var(--color-gray-500);
    border-radius: 12px;
  }

  figcaption {
    margin-top: 20px;

    h4 {
      font: var(--title-sm);
      color: var(--color-gray-100);

      margin-bottom: 8px;
    }

    p {
      font: var(--text-sm);
      color: var(--color-gray-200);
    }
  }
}